
#rolling {
  font:normal 60px 'Trebuchet MS',Trebuchet,Arial,Sans-Serif;

  text-transform:uppercase;
	/* outline:1px solid; 
	width:550px;  Fixed width. Measure it manually */
	margin:0px auto;
}

#rolling ul {
  height:60px;
  margin:0px 0px;
  padding:0px 0px;
  overflow:hidden;
}

#rolling li {
  float:center;
  display:inline;
  list-style:none;
  margin:0px 0px;
  padding:0px 0px;
}

#rolling a,
#rolling a:before {
  display:block;
  margin:0px 0px;
  padding:0px 30px;
  line-height:60px;
  color:#900;
  text-decoration:none;

}
/*end*/

#rolling-nav {
  font:normal 9px 'Trebuchet MS',Trebuchet,Arial,Sans-Serif;
  color:red;
  text-transform:uppercase;
	/* outline:1px solid; 
	width:550px;  Fixed width. Measure it manually */
	margin:0px auto;
}

#rolling-nav ul {

  margin:0px 0px;
  padding:0px 0px;
  overflow:hidden;
}

#rolling-nav li {
  float:left;
  display:inline;
  list-style:none;
  margin:0px 0px;
  padding:0px 0px;
}

#rolling-nav a,
#rolling-nav a:before {
  display:block;
  margin:0px 0px;

  line-height:35px;
  color:white;
  text-decoration:none;
  background-color:#900;
  background-image:-webkit-linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
  background-image:-moz-linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
  background-image:-ms-linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
  background-image:-o-linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
  background-image:linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
  -webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.1);
  -moz-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.1);
  box-shadow:inset 0px 1px 0px rgba(255,255,255,0.1);
  position:relative;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

#rolling-nav a:before {

  position:absolute;
  top:100%;
  right:0px;
  left:0px;
  display:block;
  background-color:white;
  border-top:2px solid rgba(0,0,0,0.2);
  color:#333;
}

